h1, h2, h3, h4, h5,.big-subtitle {
    font-family: "Platform-Bold";
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: 1px;
}

p, 
.bold-p, 
.overline {
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}



h1 {
    font-size: 3.1rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

.big-subtitle {
    font-size: 1rem;
}

p  {
    font-size: 1rem;
}

.bold-p {
    font-size: 1rem;
    font-weight: bold;
}

.small-p {
    font-size: 0.9rem;
}

.overline {
    font-size: 0.8rem;
    letter-spacing: 5px;
}