@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
* {
    box-sizing: border-box;
}

#body-home {
    height: auto;
}

/*  COLOR STYLING      COLOR STYLING      COLOR STYLING     COLOR STYLING     COLOR STYLING     COLOR STYLING    COLOR STYLING */

:root {
    --black: #333;
    --shadow: rgba(51, 51, 51, 0.1);
    --white: #fff;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-80: rgba(255, 255, 255, 0.7);
    --white-shadow: rgba(255, 255, 255, 0.4);
    --yellow: #FFC062;
    --yellow-gradient: linear-gradient(134deg, #FFC062 0%, #FFDBA6 99.41%);
    --yellow-highlight: #FFB03B;
    --light-yellow: #FFD391;
    --petrol: #4B9AAB;
    --dark-petrol: #438A99;
    --darkest-petrol: #377380;
    --light-blue: #A5CCD5;
    --CTA: #4B9AAB;
    --secondary: #fff;
    --medium-gray: #EBEBEB;
    --light-gray: #fafafa;
    --transparent: rgba(255, 255, 255, 0);
    --pastel-purple: #B7A3FE;
    --pastel-yellow: #FFC062;
    --pastel-blue: #6FAEBC;
    --pastel-red: #FEA3A3;
    --pastel-peach: #FEC4A3;
    --pastel-green: #7FD287;
}

.bg-white {
    background-color: var(--white);
}

.bg-lightblue {
    background-color: var(--light-blue);
}

.bg-lightyellow {
    background-color: var(--light-yellow);
}

.bg-yellow-gradient {
    background-image: var(--yellow-gradient);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-petrol {
    background-color: var(--petrol);
}

.bg-pastel-purple {
    background-color: var(--pastel-purple);
}

.bg-pastel-yellow {
    background-color: var(--pastel-yellow);
}

.bg-pastel-blue {
    background-color: var(--pastel-blue);
}

.bg-pastel-red {
    background-color: var(--pastel-red);
}

.bg-pastel-peach {
    background-color: var(--pastel-peach);
}

.bg-pastel-green {
    background-color: var(--pastel-green);
}

.white-font {
    color: var(--white);
}


/*  NAVIGATION STYLING      NAVIGATION STYLING      NAVIGATION STYLING     NAVIGATION STYLING     NAVIGATION STYLING     NAVIGATION STYLING */

.header-container {
    width: 100%;
}

.nav-wrapper {
    margin: 16px 24px;
}

/*  BUTTONS      BUTTONS      BUTTONS     BUTTONS     BUTTONS     BUTTONS    BUTTONS     BUTTONS    BUTTONS      BUTTONS*/
.btn, .CTA, .btn-white {
    padding: 8px 24px;
}

/*  HOME SPECIFIC STYLING      HOME SPECIFIC STYLING      HOME SPECIFIC STYLING     HOME SPECIFIC STYLING     HOME SPECIFIC STYLING    */

/*  HERO      HERO      HERO     HERO     HERO     HERO    HERO */

.hero-content {
    overflow-y: hidden;
}

.hero-img {
    right: 0;
    bottom: 0;
    height: 100vh;
}

/*  SERVICES      SERVICES      SERVICES     SERVICES     SERVICES     SERVICES    SERVICES */
.services-section {
    width: 100vw;
}

.services-section h2 {
    width: 100%;
}

.services {
    width: 100%;
}

.services-card {
    width: 250px;
    height: 300px;
}

.services-icon {
    height: 50px;
}
/*  CASE HIGHLIGHT     CASE HIGHLIGHT     CASE HIGHLIGHT    CASE HIGHLIGHT    CASE HIGHLIGHT    CASE HIGHLIGHT   CASE HIGHLIGHT*/

.case-laptop {
    width: 500px;
}

.case-phone {
    width: 500px;
}

/*  ABOUT SECTION     ABOUT SECTION     ABOUT SECTION    ABOUT SECTION    ABOUT SECTION    ABOUT SECTION   ABOUT SECTION*/


.about-img {
    width: 50vw;
}

.about-title, .about-subtitle, .about-p {
    margin-top: 16px;
    margin-left: 40px;
}

#about-btn {
    width: 200px;
    margin-left: 0px;
    margin-top: 8px;
}

/*  CASES SPECIFIC STYLING      CASES SPECIFIC STYLING      CASES SPECIFIC STYLING   CASES SPECIFIC STYLING    CASES SPECIFIC STYLING */

.cases-main {
    margin-top: 32px;
}

.intro-headline {
    text-align: center;
    margin-top: 64px;
}

.filters-section {
    position: relative;
}

#filters {
    height: 100px;
    width: 70vw;
    margin: 0px auto;
    padding: 24px 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    display: none;
}

#slidedown-btn {
    background-color: var(--yellow);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 80px;
    width: 80px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    position: relative;
    top: 36px;
    left: -30px;
    z-index:977;
}

#slidedown-btn:hover {
    background-color: var(--yellow-highlight);
}

#slidedown-btn img {
    background-color: var(--transparent);
    border: none;
    outline: none;
    cursor: pointer;
    height: 64px;
    width: 64px;
}

.filter-btn {
    padding: 12px 32px;
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--petrol);
    background-color: var(--white);
    border: 1px solid var(--petrol);
    margin: 0px 16px;
    cursor: pointer;
    outline: none;
}

.filter-btn:hover {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--white);
}

.filter-btn.active {
    background-color: var(--petrol);
    color: var(--white);
}

.cases-section {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px; 
}

.outer-case-boxes,
.all,
.uiGroup,
.uxGroup, 
.devGroup {
    width: 25vw;
    padding: 8px;
    height: 380px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.petrol-fill {
    border: 1px solid var(--medium-gray);
    background-color: var(--transparent);
    background-size: 200% 200%;
    background-image: linear-gradient(to top, var(--petrol) 50%, transparent 50%);
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.petrol-fill:hover {
    color: white;
    border: 1px solid var(--medium-gray);
    background-image: linear-gradient(to top, var(--petrol) 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.yellow-fill {
    border: 1px solid var(--medium-gray);
    background-color: var(--transparent);
    background-size: 200% 200%;
    background-image: linear-gradient(to top, var(--yellow) 50%, transparent 50%);
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.yellow-fill:hover {
    color: var(--white);
    border: 1px solid var(--medium-gray);
    background-image: linear-gradient(to top, var(--yellow) 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.img-case-box {
    padding: 8px;
    width: 270px;
    height: 220px;
    margin: 8px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.w-img {
    width: 270px;
    margin: 0px auto;
}

.h-img {
    height: 220px;
    margin: 0px auto;
}

.text-case-box {
    position: relative;
    bottom: 8px;
    left: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    margin-top: 24px;
}

.client-case-box, .project-case-box {
    width: 9vw;
    /* margin: 24px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-case-box {
    margin-left: 24px;
}

.box {
    display: none;
}

.show {
    display: block;
} 



/*  SINGLE CASE STYLING    SINGLE CASE STYLING    SINGLE CASE STYLING    SINGLE CASE STYLING   SINGLE CASE STYLING*/

.case-hero {
    height: 100vh;
    background-image: url(../IMG/Cases-thumbnails/Urban-Case/Urban-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.case-hero-title {
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--petrol);
    margin-left: 117px;
}

.case-hero-section, .case-index, .case-summary, .case-visuals, .case-output, .case-final {
    width: 100vw;
    height: 100vh;
}

.case-index {
    height: 15vh;
    padding: 0px 75px 0px 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-petrol);
}

.index-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.index-siblings {
    margin-left: 200px;
}

.index-container .case-thumb-text {
    margin-top: 8px;
}

.case-summary {
    background-color: var(--petrol);
    padding-top: 80px;
}

.summary, .case-visuals, .case-output, .visuals-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: var(--petrol);
}

.summary {
    margin-top: 64px;
    height: 85vh
}

.left-container-20-80 {
    width: 20vw;
    height: 290px;
    box-sizing: border-box;
}

.chapter-title {
    text-align: left;
    margin: 0px 0px 0px 200px;
    float: left;
    width: 10vw;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.right-container-80-20 {
    width: 80vw;
    padding: 0px 48px 0px 64px;
    box-sizing: border-box;
}

.right-container-80-20 h3 {
    line-height: 2.5rem;
    width: 60vw;
}

.right-container-80-20 p {
    width: 60vw;
}

.case-visuals {
    padding-top: 75px;
    background-color: var(--yellow);
}

.visuals-container {
    background-color: var(--white);
    padding: 25px 50px 50px 50px;
    margin-top: 24px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.typography-section, .colors, .images-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}

.color-representation {
    width: 170px;
    margin-right: 100px;
}

.Visuals-section-title {
    margin: 24px 0px 24px 0px;
}

.typography-headlines img, .typography-bread img {
    width: 20vw;
}

.typography-headlines, .typography-bread {
    width: 400px;
    margin-right: 32px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.image-tonality {
    height: 100px;
    margin-right: 48px;
}

.case-visuals .left-container-20-80, .case-visuals .right-container-80-20 {
    height: 619.34px;
}

.case-output-img {
    height: 380px;
    margin-top: 24px;
}

.case-output {
    padding-top: 120px;
}

.case-output .left-container-20-80, .case-output .right-container-80-20 {
    height: 522px;
}

.case-final {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.left-img-container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.case-final-img {
    height: 100vh;
    margin: 32px auto;
}

.case-final .right-container {
    width: 60vw;
    padding-top: 120px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.case-final .right-container h2, .case-final .right-container p {
    text-align: left;
}

.case-final .intro-description {
    text-align: center;
}

.case-final #case-btn {
    width: 200px;
}

#urban-showcase {
    width: 320px;
}

.zoom {
    height: 400px;
    overflow-y: scroll;
}

#zoom-icon {
    position: relative;
    top: 30px;
    left: 155px;
    z-index: 989;
}

/*  ABOUT SPECIFIC STYLING     ABOUT SPECIFIC STYLING     ABOUT SPECIFIC STYLING     ABOUT SPECIFIC STYLING    ABOUT SPECIFIC STYLING */

#about-img-1 {
    width: 680px;
}

#about-img-2 {
    height: 100vh;
}

.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--yellow);
}

#about-img-3 {
    height: 100vh;
}

#about-btn {
    margin-top: 24px;
}

.form-container .left-container {
    background-color: var(--yellow-highlight);
}

.form-container .left-container, .form-container .right-container {
    width: 40vw;
    height: 100vh;
}

.form {
    margin-left: 50px;
}

.form-field {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.check-field, .form-field {
    margin-top: 16px;
}

.checkbox-group {
    margin-right: 16px;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    margin-left: 8px;
    color: var(--white-80);
    letter-spacing: 0px;
}

.form-field, textarea {
    padding: 8px;
    width: 40vw;
}

.checkboxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 8px;
}

.form-row {
    padding: 0px 8px 0px 8px;
}

.input, textarea {
    background-color: var(--transparent);
    border: none;
    border-bottom: 1px solid var(--white-50);
    width: 40vw;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1rem;
    outline: none;
}

input:focus, textarea:focus {
    border-bottom: 2px white solid;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container input {
    height: 21px;
    width: 21px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--white-50);
    border-radius: 2px;
}

.container:hover input~.checkmark {
    background-color: var(--white-50);
    border: 1px solid var(--white-80);
    border-radius: 2px;
}

.container input:checked~.checkmark {
    background-color: var(--white);
    border-radius: 2px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--yellow);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form button {
    margin-top: 16px;
}

.block {
    display: none;
}

.asterix {
    color: var(--petrol);
    font-size: 0.8rem;
    margin-left: 4px;
    position: relative;
    display: inline-block;
}

.asterix .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    font-size: 0.8rem;
    padding: 5px 0;
    border-radius: 6px;
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    position: absolute;
    z-index: 1;
}

.asterix:hover .tooltiptext {
    visibility: visible;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: var(--transparent);
    border: none;
    border-bottom: 1px solid var(--white-50);
    width: 40vw;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1rem;
    outline: none;
    border-bottom: 2px white solid;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
}