body {
    width: 100vw;
    height: 100vh;
}

.slider_slide {
    display: none;
    width: 100vw;
    height: 100vh;
 
    /* preferential styles */
    background-color: #ccc;
    font-size: 30px;
    text-align: center
 }
 .slider_slide:first-child {
    display: block
 }